<mat-card>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Ville</mat-label>
        <input
          matInput
          placeholder="Entrer le nom de votre ville"
          [(ngModel)]="cityName"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        Rechercher
      </button>
    </form>
    <button (click)="getUserLocation()" mat-raised-button color="primary">
      Localisation
    </button>
  </mat-card-content>
</mat-card>

<div>
  <app-loading [loading]="loading"></app-loading>
  <app-infos *ngIf="infos" [infos]="infos"></app-infos>
  <app-card-list *ngIf="cardList" [cardList]="cardList"></app-card-list>
</div>
